
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-8">
                <div class="app-logo-inverse mx-auto mb-3"></div>
                <div class="modal-dialog w-100 mx-auto">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="center">
                            <div class="h5 modal-title text-center">
                                <h4 class="mt-2">
                                  <img src="assets/images/CarrieriLogo.png" style="height:180px; width:180px">
                                <div>Welcome To Carrieri.tn!</div>
                                <span>Please sign in to your account below.</span>
                                </h4>
                                </div>
                            <form [formGroup]="loginForm" (ngSubmit)="login()">

                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <input type="text" formControlName="username" required placeholder="Username here..."  class="form-control">
                                    </div>
                                    </div>

                                <div class="col-md-12">
                                    <div class="position-relative form-group">
                                        <input type="password" formControlName="password" required placeholder="Password here..." class="form-control">
                                    </div>
                                    </div>
                                <div class="divider"></div>
                                <div class="modal-footer clearfix">

                                    <div class="float-right">
                                        <button type="submit" class="btn btn-primary btn-lg">Login to Dashboard</button>
                                    </div>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
