<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light" (click)="openAddForm()" >Add new Student</button>


<input type="text" placeholder="search..."  style=" float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;" [(ngModel)]="searchText">

<div *ngIf="shouldOpen">
  <app-add  [studentFromParent]="student" (notification)="addStudent($event)"></app-add>

</div>

<div class="app-main__inner">
  <div class="page-title-wrapper">
    <div class="page-title-heading">

      <div class="content">
        <div class="container">

          <div class="row row-cols-1 row-cols-md-3 g-4" >
            <div class="col-lg-4" *ngFor="let student of students |studentPipe: searchText">
              <div class="text-center card-box">
                <div class="member-card pt-2 pb-2">
                  <div class="thumb-lg member-thumb mx-auto"><img src="https://cdn3.iconfinder.com/data/icons/business-and-management-without-backround-set-1/145/12-512.png" style="width:80px; height:80px"></div>
                  <div class="">
                    <h4>{{student.prenomE }} {{student.nomE}}</h4>
                    <p class="text-muted">Option <span>| </span><span><a href="#" class="text-pink">{{student.option}}</a></span></p>
                  </div>
                  <ul class="social-links list-inline">

                    <li class="list-inline-item"><i class="fa fa-edit" (click)="sendToFils(student)"></i></li>
                    <li class="list-inline-item"><i class="fa fa-trash" (click)="deleteStudent(student)"></i></li>
                  </ul>
                  <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light"  [routerLink]="['profile',student.id]">View Profile </button>
                </div>
              </div>
            </div>
            <!-- end col -->
            <!-- end col -->

            <!-- end col -->
          </div>


        </div>
        <!-- container -->
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
